<script type="text/javascript" src="//code.jquery.com/jquery-2.1.3.min.js"></script>
<script type='text/javascript' src="//caligatio.github.io/jsSHA/sha.js"></script>
<script type="text/javascript" src="/totp.js"></script>
</body>
</html>

