<% include ../partials/_header %>

<div class="container home-index">
  <header>
    <div class="logo"><a href="/">totp.io</a></div>
  </header>

  <div class="jumbotron">
    <h1>One-time passwords in your browser</h1>
    <hr>
    <p>Just type your TOTP seed and see your one time passcode:</p>
    <form id="home-submit">
      <p>
        <input type="text" id="totp-token" placeholder="OVEK7TIJ3A3DM3M6" value="OVEK7TIJ3A3DM3M6">
      </p>
      <p>
        <button type="submit" class="btn btn-success btn-lg">Get my code</button>
      </p>
    </form>
  </div>
</div>

<% include ../partials/_footer %>
