<% include ../partials/_header %>

<div class="container token-show">
  <div class="jumbotron">
    <h1 id="otp">------</h1>
    <p class="lead">Updating in: <span id='updatingIn'></span></p>
  </div>
</div>

<% include ../partials/_footer %>
